---

import MetaPixel from "../../components/MetaPixel.astro";
import ExpertoB from "../../layouts/ExpertoB.astro";

---

<script>

    console.log(window)

</script>


<MetaPixel />

<ExpertoB title='Gestiona tu psicologia'>
    <h1>Este es la pagina del experto</h1>
    <button id="addToCartButton">Add To Cart</button>

</ExpertoB>