---
import Layout from "../../layouts/Layout.astro";
import { FormularioModal } from "../../components/carloscasas/Modal";

function closeModal() {
  console.log("close modal");
}
---

<script type="">
  const openButton = document.getElementById("open");
  const dialog = document.getElementById("dialog");
  const closeButton = document.getElementById("close");
  const overlay = document.getElementById("overlay");

  openButton.addEventListener("click", function () {
    dialog.classList.remove("hidden");
    overlay.classList.remove("hidden");
  });

  closeButton.addEventListener("click", function () {
    dialog.classList.add("hidden");
    overlay.classList.add("hidden");
  });

  function closeModal() {
    closeButton.click();
  }
</script>

<style>

</style>

<Layout
  title="Carlos Casas | Inicia Tu Consulta Privada "
  metadescription="Gestiona tu psicologia"
>
  <section>
    <div class="grid md:grid-cols-2 mt-12 text-center gap-4">
      <div class="mx-12">
        <h1 class="text-2xl md:text-4xl font-semibold">
          <span class="text-secondary font-bold">¡Atención!</span>
          Psicólogos, Terapeutas y Psicoterapeutas
        </h1>
        <h2 class="mt-4 md:text-xl">
          Reserva Tu Lugar Gratis A Mi Masterclass Gratuita:
        </h2>
        <h1 class="text-2xl md:text-4xl font-bold mt-4">
          Los 3 Factores Principales Que Tienes Que Saber Para Iniciar Tu
          consulta Privada
        </h1>
      </div>
      <div>
        <h2>Imagen psicologo</h2>
      </div>
    </div>

    <button
      id="open"
      class="bg-greenbutton py-4 px-12 text-white font-semibold shadow-lg tracking-wide text-2xl hover:bg-lime-600 cursor-pointer"
    >
      Registrarme
    </button>

    <div
      id="overlay"
      class="fixed hidden z-40 w-screen h-screen inset-0 bg-gray-900 bg-opacity-60"
    >
    </div>

    <div
      id="dialog"
      class="hidden fixed z-50 top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2 w-96 bg-white rounded-md px-8 py-6 space-y-5 drop-shadow-lg"
    >
    </div>
    <FormularioModal />
  </section>
</Layout>
