<div class="bg-[#f78da7]">
	<h2>Gestiona Tu Psicología (Plan Lite)</h2>

	<p>47 dolares</p>

	<button>Elegir Plan</button>

	<p>Incluye</p>

	<ul>
		<li>Una sesión individual de terapia.</li>
	</ul>
</div>
