<script>
	document.getElementById('formulario')?.addEventListener('click', () => {
		window.open('https://www.gestionatupsicologia.com/evento/formulario', '_blank')
	})
</script>

<div class="flex flex-col items-center py-4">
	<button id="formulario" class="rounded-lg bg-pink-400 px-4 py-2 text-lg font-semibold text-white">
		RESERVAR MI LUGAR AHORA
	</button>
	<p class="mt-2 text-xs">Da click en el botón para registrarte</p>
</div>
