---
import Analytics from '../components/Analytics.astro';
export interface Props {
	title: string;
	metadescription: string;
}

const { title, metadescription } = Astro.props as Props;
---

<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width" />
	<link rel="icon" type="image/x-icon" href="/favicon.ico" />
	<meta name="description" content={metadescription} />
	<title>{title}</title>
</head>
<!-- <Analytics /> -->

<body>
	<slot />
</body>

</html>